{{>layout/header}}
    <h1>스프링부트 웹 서비스 ver.1.2</h1>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                {{#loginName}}
                    로그인된 사용자: <span id="user">{{loginName}}</span>
                <a href="/logout" class="btn btn-info active" role="button">로그아웃</a>
                {{/loginName}}
                {{^loginName}}
                    <a href="/oauth2/authorization/google" class="btn btn-light active" role="button">Google 계정으로 로그인</a>
                    <a href="/oauth2/authorization/naver" class="btn btn-success" role="button">네이버 계정으로 로그인</a>
                    <a href="/oauth2/authorization/kakao" class="btn btn-warning" role="button">카카오 계정으로 로그인</a>
                {{/loginName}}
            </div>
        </div>
        <form class="form-inline d-flex justify-content-end">
            <div class="form-group mx-sm-3 mb-2">
                <label for="searchText" class="sr-only">검색</label>
                <input type="text" class="form-control" id="searchText" name="searchText"
                       placeholder="제목 또는 내용으로 검색" value={{searchText}}>
            </div>
            <button type="submit" class="btn btn-primary mb-2">검색</button>
        </form>
        <br>
        <!-- 목록 출력 영역 -->
        <table class="table table-horizontal table-hover">
            <thead class="thead-strong">
            <tr>
                <th>게시글번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>최종수정일</th>
                <th>댓글수</th>
            </tr>
            </thead>
            <tbody id="tbody">
            {{#posts}} <!-- posts라는 List 순회함. == java for문 -->
                <tr>
                    <td>{{id}}</td> <!-- Lists 객체의 필드 -->
                    <td><a href="/posts/read/{{id}}">{{title}}</a></td>
                    <td>{{author}}</td>
                    <td>{{modifiedDate}}</td>
                    <td>{{replyCount}}</td>
                </tr>
            {{/posts}}
            </tbody>
        </table>
        <div class="d-flex justify-content-end">
        <a href="/posts/save" role="button" class="btn btn-primary">글 등록</a>
        </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {{#check2}}
                    <li class="page-item disabled"><a class="page-link" href="?page={{previous}}&searchText={{searchText}}">Previous</a></li>
                {{/check2}}
                {{^check2}}
                    <li class="page-item"><a class="page-link" href="?page={{previous}}&searchText={{searchText}}">Previous</a></li>
                {{/check2}}
                {{#pageIndex}}
                    <li class="page-item"><a class="page-link" href="?page={{.}}&searchText={{searchText}}">{{.}}</a></li>
                {{/pageIndex}}
                {{#check}}
                    <li class="page-item"><a class="page-link" href="?page={{next}}&searchText={{searchText}}">Next</a></li>
                {{/check}}
                {{^check}}
                    <li class="page-item disabled"><a class="page-link" href="?page={{next}}&searchText={{searchText}}">Next</a></li>
                {{/check}}
            </ul>
        </nav>
    </div>
    <hr>
    <div class="footer-info" align="center">
        developer email: park96618@gmail.com
    </div>
{{>layout/footer}}