{{>layout/header}}


<div class="col-md-12 d-flex justify-content-center">
    <div class="col-md-6 mt-3">
        <h2> 게시글 조회 </h2>
        <form>
            {{#loginName}}
            <div class="form-group">
                <label for="loginName" hidden> 로그인된 사용자명 </label>
                <input type="text" class="form-control" id="loginName" value="{{loginName}}" hidden>
            </div>
            {{/loginName}}
            <div class="form-group">
                <label for="id"> 글 번호 </label>
                <input type="text" class="form-control" id="id" value="{{post.id}}" readonly>
            </div>
            <div class="form-group">
                <label for="title"> 제목 </label>
                <input type="text" class="form-control" id="title" value="{{post.title}}" readonly>
            </div>
            <div class="form-group">
                <label for="author"> 작성자 </label>
                <input type="text" class="form-control" id="author" value="{{post.author}}" readonly>
            </div>
            <div class="form-group">
                <label for="content"> 내용 </label>
                <textarea class="form-control" rows="7" id="content" readonly>{{post.content}}</textarea>
            </div>
            <div class="form-group">
                <label for="file-name">첨부파일</label>
                <input type="text" class="form-control" id="file-name" value="{{post.fileName}}" disabled>
            </div>
            <div>
                <p><strong>첨부파일 이미지입니다.</strong></p>
                <img width="500px" src={{fileUrl}} onerror="this.parentNode.style.display='none'" id="result-image">
            </div>

        </form>
        <div class="d-flex justify-content-end">
        <a href="/" role="button" class="btn btn-secondary mr-2">취소</a>
        <a href="/posts/update/{{post.id}}" role="button" class="btn btn-primary">글 수정</a>
        </div>
    </div>
</div>
<!-- 라이브리 시티 설치 코드 -->
<div id="lv-container" class="d-flex justify-content-center" style="width: 50%" data-id="city" data-uid="MTAyMC81NDgwMC8zMTI3MA==">
    <script type="text/javascript">
   (function(d, s) {
       var j, e = d.getElementsByTagName(s)[0];

       if (typeof LivereTower === 'function') { return; }

       j = d.createElement(s);
       j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
       j.async = true;

       e.parentNode.insertBefore(j, e);
   })(document, 'script');
	</script>
    <noscript> 라이브리 댓글 작성을 위해 JavaScript를 활성화 해주세요</noscript>
</div>
<!-- 시티 설치 코드 끝 -->

{{>layout/footer}}