{{>layout/header}}

<div class="col-md-12 d-flex justify-content-center">
    <div class="col-md-6 mt-3">
        <h2> 게시글 수정 </h2>
        <form>
            <div class="form-group">
                <label for="loginName" hidden> 로그인된 사용자명 </label>
                <input type="text" class="form-control" id="loginName" value="{{loginName}}" hidden>
            </div>
            <div class="form-group">
                <label for="userRole" hidden> 유저 권한 </label>
                <input type="text" class="form-control" id="userRole" value="{{userRole}}" hidden>
            </div>
            <div class="form-group">
                <label for="id"> 글 번호 </label>
                <input type="text" class="form-control" id="id" value="{{post.id}}" readonly>
            </div>
            <div class="form-group">
                <label for="title"> 제목 </label>
                <input type="text" class="form-control" id="title" value="{{post.title}}" >
            </div>
            <div class="form-group">
                <label for="author"> 작성자 </label>
                <input type="text" class="form-control" id="author" value="{{post.author}}" readonly>
            </div>
            <div class="form-group">
                <label for="content"> 내용 </label>
                <textarea class="form-control" rows="7" id="content">{{post.content}}</textarea>
            </div>
            <div class="form-group">
                <label for="file-name">첨부파일</label>
                <input type="text" class="form-control" id="file-name" value="{{post.fileName}}" disabled>
            </div>
            <div class="form-group">
                <label for="img">※첨부파일은 최대 10mb까지 등록가능합니다</label>
                <br />
                <input type="file" id="img">
            </div>
            <div>
                <p><strong>첨부파일 이미지입니다.</strong></p>
                <img width="500px" src={{fileUrl}} onerror="this.parentNode.style.display='none'" id="result-image">
            </div>
        </form>
        <div class="d-flex justify-content-end">
        <a href="/" role="button" class="btn btn-secondary mr-2">취소</a>
        <button type="button" class="btn btn-primary mr-2" id="btn-uploadUpdate">수정 완료</button>
        <button type="button" class="btn btn-warning mr-2" id="btn-deleteFile">첨부파일 삭제</button>
        <!--        <button type="button" class="btn btn-primary" id="btn-update">수정 완료</button>-->
        <button type="button" class="btn btn-danger" id="btn-delete">게시물 삭제</button>
        </div>
    </div>
</div>

{{>layout/footer}}