<div class="card" id="comments">
    <div class="card-body">
        <form>
            <div class="form-group">
                <label>댓글 작성</label>
                <textarea class="form-control" id="reply-text" rows="3"></textarea>
            </div>
<!--            <input type="hidden" id="replier" >-->
            <button type="button" class="btn btn-primary" id="reply-submit">제출</button>
        </form>
    </div>
</div>
